**/__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

.env
*.env

.git/
.gitignore
.gitattributes

.DS_Store
Thumbs.db
.idea/
.vscode/

**/*~

*.sqlite3

docker-compose.yml
Dockerfile

staticfiles/
static/
media/
media_root/

build/
dist/
*.egg-info/

coverage_html_report/
*log

# The varys_config.cfg needs to be given when setting up the container
# e.g. with a volume mount or some other technique
varys_config.cfg
