**/__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

.env
*.env

.git/
.gitignore
.gitattributes

.DS_Store
Thumbs.db
.idea/
.vscode/

**/*~

*.sqlite3

docker-compose.yml
Dockerfile

staticfiles/
static/
media/
media_root/

build/
dist/
*.egg-info/

coverage_html_report/
*log
