# Please follow suitable version specifiers, as outlined in https://www.python.org/dev/peps/pep-0440/#version-specifiers
# For Django versioning we use ~= (e.g. Django~=4.2.0) which will keep the minor version up to date (e.g. the latest version prior to 4.3.0)

Django~=4.2.0
djangorestframework
django-cors-headers
psycopg2-binary
requests
git+https://github.com/bear-rsg/django-scheduled-tasks.git